.index__products{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.index__produts__product{
     width: 95%;
     display: flex;
     flex-direction: column;
    padding: 10px 0;
}

.index__produts__product  img{
    width: 100%;
}

.index__produts__product h4{
    margin: 10px 0;
}

.index__products__product__more{
    display: inline-block;
    padding: 5px;
    background-color: var(--colorRojo);
    width: 100px;
    text-align: center;
    margin-top: 10px;
}

/* aside de tutoriales y publicidad */

.index__tutoriales h3{
    margin-top: 30px;
}
.index__tutoriales h3 , .index__publicidad h3{
    border: 1px solid var(--colorBorde);
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.index__toturiales__tutorial{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: 1px solid var(--colorBorde);
    border-bottom: none;
}

.index__toturiales__tutorial{
    border-bottom: 1px solid var(--colorBorde);
}

index__toturiales__tutorial p{
   
    margin-left: 10px;
}
.index__publicidad{/* advertising asi lo tienen el profe */
    margin-top: 30px;
}
.index__publicidad__add{
    background-color: white;
    padding: 0 10px;
    border: 1px solid var(--colorBorde);
}

.index__publicidad__add img{
    margin: 10px 0;
    width: 100%;
}
/* mobile large */
@media (min-width : 425px){

    .index main{
        padding: 0 30px;
    }

    /* seccion productos */

    .index__products{
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-evenly;
   }
    .index__produts__product{
        width: 45%;
       
   }

   
}
/* tablets */
@media(min-width: 768px){

    .index main{
        padding: 0 50px;
    }

/* seccion producto */

    .index__products{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    .index aside{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .index__tutoriales , .index__publicidad{
        width: 320px;
    }
}

/* laptops */
@media (min-width: 1024px){
    .index {
        max-width: 1140px;
        margin: 0 auto;
    }

    .index main {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-between;
    }

    .index__products{
        width: 800px;
    }
    .index__produts__product{
        width: 380px;
       
   }
    

    .index aside{
       
       flex-direction: column;
        justify-content: flex-start;
    }
    
}